html, body {
  height: 100%;
  width: 100%;
  background-color: #e0d9d1;
}

/* nav bar */
#navBar{
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline;
  overflow: hidden;
/*   position: fixed;  */
  width: 105%;
  background-color: #CDC1BB;
  z-index: 1;
}

#navBar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 40px 30px 40px;
  text-decoration: none;
  margin: 0px;

/*   margin-left: 0px; */
/*   margin-top: 15px; */
}

#navBar a:hover{
  background: #e0d9d1;
  color: #A55B35;
  font-weight: bold;

}
/* end of nav bar */

/* food banner */
#foodBanner {
  background-image: url("foodBackground.png");
  background-size: cover;             
  background-repeat: no-repeat;
  background-position: center;  
  padding: 180px;
  text-align: center;
  
}

h1 {
  font-family: 'Special Elite', cursive;
  letter-spacing: 10px;
  font-size: 45px;
}

h4 {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 5px;
}
/* end of food banner */


#surprise {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  font-family: 'Arimo', sans-serif;
  line-height: 30px;
/*   padding-bottom: 10px; */
  border-style: solid;
  border-color: #CDC1BB;
  border-width: 5px;
  background: #e0d9d1;
  padding:10px;
}

#loginFull {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px; 
  align-items: center;
  font-family: 'Arimo', sans-serif;
  line-height: 30px;
  border-style: solid;
  border-color: #CDC1BB;
  border-width: 5px;
  background: #e0d9d1;
  padding:10px;
}

h3 {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
}

button {
  font-family: 'Special Elite', cursive;
  color: #A55B35;
  border-width: 0px;
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}

#button1:hover {
  background: #CDC1BB;
}

#submitButton:hover {
  background:#CDC1BB;
}

#submitButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
}

input {
  margin-top: 1px;
}