html, body {
  height: 100%;
  width: 100%;
  background-color: #e0d9d1;
}

/* nav bar */
#navBar{
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline;
  overflow: hidden;
  position: fixed; 
  width: 105%;
  background-color: #CDC1BB;
  z-index: 1;
}

#navBar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 60px 30px 60px;
  text-decoration: none;
  margin: 0px;

/*   margin-left: 0px; */
/*   margin-top: 15px; */
}

#navBar a:hover{
  background: #e0d9d1;
  color: #A55B35;
  font-weight: bold;

}
/* end of nav bar */

/* food banner */
#foodBanner {
  background-image: url("foodBackground.png");
  background-size: cover;             
  background-repeat: no-repeat;
  background-position: center;  
  padding: 300px;
  text-align: center;
  
}

h1 {
  font-family: 'Special Elite', cursive;
  letter-spacing: 10px;
  font-size: 45px;
}

h4 {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 5px;
}
/* end of food banner */